<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci nesciunt voluptate deserunt iste officiis a, aliquid voluptatem quas tempore non?</p>
    </div>
</section>