
<div class="container-fluid p-5 bg-light">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore velit quos laborum, perspiciatis veritatis ex mollitia ad vel dicta cum reprehenderit nesciunt voluptates ut distinctio quod esse, sint perferendis ab?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque deleniti cum dolorum commodi vitae amet neque nulla reiciendis magnam iusto.</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>
